<div class="social">
    <p>
        Follow
    </p>
    <ul>
        <li class="ml-1 mr-1">
            <a target="_blank" href="https://www.linkedin.com/in/bashista/" onclick="window.open(this.href);return false;">
                <i class="fab fa-linkedin-in"></i>
            </a>
        </li>

        <li class="ml-1 mr-1">
            <a target="_blank" href="https://github.com/tgb20" onclick="window.open(this.href);return false;">
                <i class="fab fa-github"></i>
            </a>
        </li>

        <li class="ml-1 mr-1">
            <a target="_blank" href="https://twitter.com/jacobbashista" onclick="window.open(this.href);return false;">
                <i class="fab fa-twitter"></i>
            </a>
        </li>

        <li class="ml-1 mr-1">
            <a target="_blank" href="https://www.youtube.com/orangehaus" onclick="window.open(this.href);return false;">
                <i class="fab fa-youtube"></i>
            </a>
        </li>

        <li class="ml-1 mr-1">
            <a target="_blank" href="https://www.twitch.tv/tgb20" onclick="window.open(this.href);return false;">
                <i class="fab fa-twitch"></i>
            </a>
        </li>

    </ul>
</div>
